:root{
    --fontcolor1: #fff;
    --fontcolor2: #000;
    --fontcolor3: #030436;
    -bgcolor1: #2df0f0;
    -bgcolor: #F1e9e9;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{ 
    background: var(--bgcolor1);
}

.container{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

//responsividade

@media(max-width:500px){
    .container{
        justify-content:start;
        padding:15px;
    }
}